body {
    background-color: #ededed;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal p,
.reveal ul,
.reveal ol {
    font-family: "sans-serif";
}
.reveal p {
    font-size: 35px;
}
.reveal h1 {
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
}
.reveal h2 {
    font-size: 45px;
    text-transform: uppercase;
}
.reveal h3 {
    font-size: 40px;
}
.reveal ul, ol {
    font-size: 35px;
    line-height: 55px;
}
/*div.output_area pre {*/
    /*color: white;*/
/*}*/
/*div.output_stderr {*/
    /*background: #F00;*/
/*}*/
/*.reveal table th, .reveal table td {*/
    /*color: white;*/
/*}*/
